
<div class="index-main">
  <% @posts.each do |post| %>
    <div class="text_box">
      <div class= "comments">
        <div class="comment_count">0</div>
        <div class="comment">comments</div>
      </div>
      <div class="post">
        <div class="post_hedder">
          <div class="title"><%= link_to post.title, post_path(post.id) %>
          </div>
          <div class="name"><%= post.name %>
          </div>
        </div>
        <div class="question"><%= post.question %>
        </div>
      </div>
    </div>
  <% end %>
</div>
